[Desktop Entry]
Name=mx44
Comment=Polyphonic, multichannel MIDI realtime software synthesizer
Comment[fr]=Synthétiseur logiciel temps réel MIDI polyphonique et multicanal
Exec=mx44
Icon=mx44-icon.png
Terminal=false
Type=Application
Categories=Application;AudioVideo;Audio
